# dependencies
node_modules
.pnpm-store

# build
.next
dist
.turbo
out
build

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# drizzle
drizzle/meta

# vercel
.vercel

# test
coverage

# SEO / GSC generated reports
reports/
